router ospf 1 vrf control-data
network 10.3.0.0 0.0.0.255 area 0
network 10.2.0.0 0.0.0.255 area 0
network 2.2.2.2 0.0.0.0 area 0
default-information originate
exit
int gi 0/1
ip nat inside
exit
int gi 0/2
ip nat inside
exit
int gi 0/3
vrf forwarding control-data
ip address dhcp
ip nat outside
no shut
exit
ip access-list standard NAT_ACL
permit 10.1.0.0 0.0.0.255
permit 10.2.0.0 0.0.0.255
permit 10.3.0.0 0.0.0.255
exit

ip nat inside source list NAT_ACL interface GigabitEthernet0/3 vrf control-data overload

